.root {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.header:global(.__wab_instance) {
  position: relative;
}
.freeBox___0Hugu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  margin-bottom: 0px;
  background: linear-gradient(#22222230, #22222230),
    url("/plasmic/fred_financial/images/marketing37247971920Jpg.jpeg") left 0% top 50% / cover no-repeat fixed;
  min-width: 0;
  padding: 8px;
}
.freeBox__u0W4P {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  align-content: unset;
  background: none;
  max-width: 1380px;
  min-width: 0;
  padding: 180px 50px;
}
@media (max-width: 768px) {
  .freeBox__u0W4P {
    padding-bottom: 61px;
    padding-top: 60px;
  }
}
.foreground2 {
  flex-direction: column;
  display: flex;
  width: 100%;
  max-width: 746px;
  align-self: flex-end;
  background: #0000006b;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 30px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__v4Uog {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__v4Uog > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__v4Uog > :global(.__wab_flex-container) > *,
.freeBox__v4Uog > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v4Uog > :global(.__wab_flex-container) > picture > img,
.freeBox__v4Uog
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h1 {
  padding-top: 0px;
  padding-bottom: 0px;
  color: var(--token-E3cGNLqUF1p4Y2);
  text-align: left;
}
@media (max-width: 768px) {
  .h1 {
    font-size: 32px;
  }
}
.text__dh72B {
  position: relative;
  height: auto;
  max-width: 731px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  width: 100%;
  margin-top: calc(5px + 16px) !important;
  color: var(--token-E3cGNLqUF1p4Y2);
  min-width: 0;
}
@media (max-width: 768px) {
  .text__dh72B {
    font-size: 16px;
    margin-top: calc(5px + 16px) !important;
  }
}
.freeBox__kfAdt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  padding: 50px 8px;
}
.columns___0Rd1L {
  flex-direction: row;
  display: flex;
  position: relative;
  flex-shrink: 1;
  flex-grow: 0;
  width: 1380px;
  background: none;
  padding: 0px;
}
.columns___0Rd1L > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: stretch;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.columns___0Rd1L > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 14px) * 3 / 12);
}
.columns___0Rd1L > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 14px) * 3 / 12);
}
.columns___0Rd1L > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 14px) * 6 / 12);
}
.columns___0Rd1L > :global(.__wab_flex-container) > *,
.columns___0Rd1L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___0Rd1L > :global(.__wab_flex-container) > picture > img,
.columns___0Rd1L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
@media (max-width: 768px) {
  .columns___0Rd1L {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns___0Rd1L > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns___0Rd1L > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 14px) * 12 / 12);
  }
}
.column__ea1J0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__lyJ20 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin-top: 170px;
  min-width: 0;
  min-height: 0;
}
.img__lyJ20 > picture > img {
  object-fit: cover;
}
.img__lyJ20 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__lyJ20 {
    margin-top: 0px;
    height: 237px;
    flex-shrink: 0;
  }
}
.column__dcLkI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__saInf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin-top: 3px;
  min-width: 0;
  min-height: 0;
}
.img__saInf > picture > img {
  object-fit: cover;
}
.img__saInf > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__saInf {
    height: 292px;
    margin-top: 28px;
    flex-shrink: 0;
  }
}
.column__dCh0N {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 768px) {
  .column__dCh0N {
    padding: 11px 30px 30px;
  }
}
.freeBox___1Glq7 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___1Glq7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox___1Glq7 > :global(.__wab_flex-container) > *,
.freeBox___1Glq7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1Glq7 > :global(.__wab_flex-container) > picture > img,
.freeBox___1Glq7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h2___11TlL {
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  min-width: 0;
}
.text__izLlS {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  min-width: 0;
}
.freeBox__yp4QW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 125px 8px 8px;
}
.freeBox___8KCwT {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 1380px;
  min-width: 0;
}
.columns__pq7Am {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__pq7Am > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.columns__pq7Am > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 30px) * 4 / 12);
}
.columns__pq7Am > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 30px) * 4 / 12);
}
.columns__pq7Am > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 30px) * 4 / 12);
}
.columns__pq7Am > :global(.__wab_flex-container) > *,
.columns__pq7Am > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__pq7Am > :global(.__wab_flex-container) > picture > img,
.columns__pq7Am
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
@media (max-width: 768px) {
  .columns__pq7Am {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__pq7Am > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (max-width: 768px) {
  .columns__pq7Am > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 30px) * 12 / 12);
  }
}
@media (max-width: 768px) {
  .columns__pq7Am > :global(.__wab_flex-container) > *,
  .columns__pq7Am > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__pq7Am > :global(.__wab_flex-container) > picture > img,
  .columns__pq7Am
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
.column___0Hd2 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#0d4b6deb, #0d4b6deb),
    url("/plasmic/fred_financial/images/handG176868E991920Jpg.jpeg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 30px;
}
.column___0Hd2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (max-width: 768px) {
  .column___0Hd2 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (max-width: 768px) {
  .column___0Hd2 > :global(.__wab_flex-container) > *,
  .column___0Hd2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column___0Hd2 > :global(.__wab_flex-container) > picture > img,
  .column___0Hd2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.freeBox__xZfah {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 400px;
  min-width: 0;
  padding: 8px;
}
.freeBox__xZfah > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__xZfah > :global(.__wab_flex-container) > *,
.freeBox__xZfah > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xZfah > :global(.__wab_flex-container) > picture > img,
.freeBox__xZfah
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h2__jIIeO {
  position: relative;
  color: var(--token-E3cGNLqUF1p4Y2);
}
.freeBox__aWXN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 1px;
  max-width: 100%;
  margin-top: calc(0px + 20px) !important;
  align-self: flex-start;
  flex-shrink: 0;
  padding: 0px;
  border-top: 2px solid var(--token-E3cGNLqUF1p4Y2);
}
.text___95SvM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  color: var(--token-E3cGNLqUF1p4Y2);
  padding-bottom: 8px;
  min-width: 0;
}
.column___7TNxD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(#314f56e0, #314f56e0),
    url("/plasmic/fred_financial/images/headerBg6Jpg.jpeg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 30px;
}
.freeBox__mt58H {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 400px;
  min-width: 0;
  padding: 8px;
}
.freeBox__mt58H > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__mt58H > :global(.__wab_flex-container) > *,
.freeBox__mt58H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mt58H > :global(.__wab_flex-container) > picture > img,
.freeBox__mt58H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h2__fG8Ei {
  position: relative;
  color: var(--token-E3cGNLqUF1p4Y2);
}
.freeBox__cKGoh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 1px;
  max-width: 100%;
  margin-top: calc(0px + 20px) !important;
  align-self: flex-start;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  flex-shrink: 0;
  padding: 0px;
  border-top: 2px solid var(--token-E3cGNLqUF1p4Y2);
}
.text__dtRkU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  padding-top: 0px;
  color: var(--token-E3cGNLqUF1p4Y2);
  padding-bottom: 0px;
  min-width: 0;
}
.column__as3KT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(#141616ed, #141616ed),
    url("/plasmic/fred_financial/images/handG176868E991920Jpg.jpeg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 30px;
}
.freeBox___9Aydx {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 400px;
  min-width: 0;
  padding: 8px;
}
.freeBox___9Aydx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox___9Aydx > :global(.__wab_flex-container) > *,
.freeBox___9Aydx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9Aydx > :global(.__wab_flex-container) > picture > img,
.freeBox___9Aydx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h2__abthW {
  position: relative;
  color: var(--token-E3cGNLqUF1p4Y2);
}
.freeBox__vvhXk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 1px;
  max-width: 100%;
  margin-top: calc(0px + 20px) !important;
  align-self: flex-start;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  flex-shrink: 0;
  padding: 0px;
  border-top: 2px solid var(--token-E3cGNLqUF1p4Y2);
}
.text__qIAx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  color: var(--token-E3cGNLqUF1p4Y2);
  min-width: 0;
}
.footerMain:global(.__wab_instance) {
  position: relative;
  align-self: auto;
  display: flex;
}
