@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Playfair+Display%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-H4Xmfa79emnNIU: #292d2f;
  --plasmic-token-heading: var(--token-H4Xmfa79emnNIU);
  --token-E3cGNLqUF1p4Y2: #ffffff;
  --plasmic-token-white-color: var(--token-E3cGNLqUF1p4Y2);
  --token-o8cl31Fy2etYgz: 320px;
  --plasmic-token-width-mixin: var(--token-o8cl31Fy2etYgz);
}

.plasmic_default_styles {
  --mixin-3AXLuDWnjmuvkh_font-family: "Inter";
  --mixin-3AXLuDWnjmuvkh_font-size: 16px;
  --mixin-3AXLuDWnjmuvkh_font-weight: 400;
  --mixin-3AXLuDWnjmuvkh_font-style: normal;
  --mixin-3AXLuDWnjmuvkh_color: #535353;
  --mixin-3AXLuDWnjmuvkh_text-align: left;
  --mixin-3AXLuDWnjmuvkh_text-transform: none;
  --mixin-3AXLuDWnjmuvkh_line-height: 1.7;
  --mixin-3AXLuDWnjmuvkh_letter-spacing: normal;
  --mixin-3AXLuDWnjmuvkh_white-space: pre-wrap;
  --mixin-3AXLuDWnjmuvkh_user-select: text;
  --mixin-3AXLuDWnjmuvkh_text-decoration-line: none;
  --mixin-3AXLuDWnjmuvkh_text-overflow: clip;
  --mixin-leK7Qnmxlk0VBZ_color: var(--token-E3cGNLqUF1p4Y2);
  --mixin-leK7Qnmxlk0VBZ_font-weight: 700;
  --mixin-leK7Qnmxlk0VBZ_font-size: 50px;
  --mixin-leK7Qnmxlk0VBZ_line-height: 1.2;
  --mixin-leK7Qnmxlk0VBZ_letter-spacing: 0px;
  --mixin-leK7Qnmxlk0VBZ_font-family: "Playfair Display";
  --mixin-leK7Qnmxlk0VBZ_text-align: center;
  --mixin-XfxIZVN9vAo2Ud_color: #000000;
  --mixin-XfxIZVN9vAo2Ud_font-weight: 600;
  --mixin-XfxIZVN9vAo2Ud_font-size: 36px;
  --mixin-XfxIZVN9vAo2Ud_line-height: 1.1;
  --mixin-XfxIZVN9vAo2Ud_letter-spacing: -1px;
  --mixin-XfxIZVN9vAo2Ud_font-family: "Playfair Display";
  --mixin-dcN3Bbc0YsS7fY_color: #3291ff;
  --mixin-cWrxyfjaNwVt2x_color: #000000;
  --mixin-cWrxyfjaNwVt2x_font-weight: 600;
  --mixin-cWrxyfjaNwVt2x_font-size: 24px;
  --mixin-cWrxyfjaNwVt2x_line-height: 1.2;
  --mixin-cWrxyfjaNwVt2x_letter-spacing: 0px;
  --mixin-cWrxyfjaNwVt2x_font-family: "Playfair Display";
  --mixin-5QmswN4Rwe1Fbx_color: #000000;
  --mixin-5QmswN4Rwe1Fbx_font-weight: 600;
  --mixin-5QmswN4Rwe1Fbx_font-size: 24px;
  --mixin-5QmswN4Rwe1Fbx_line-height: 1.3;
  --mixin-5QmswN4Rwe1Fbx_letter-spacing: -0.5px;
  --mixin-HlSvSpoc5RARGZ_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-HlSvSpoc5RARGZ_border-bottom-color: #dddddd;
  --mixin-HlSvSpoc5RARGZ_border-bottom-style: solid;
  --mixin-HlSvSpoc5RARGZ_border-bottom-width: 1px;
  --mixin-HlSvSpoc5RARGZ_border-left-color: #dddddd;
  --mixin-HlSvSpoc5RARGZ_border-left-style: solid;
  --mixin-HlSvSpoc5RARGZ_border-left-width: 1px;
  --mixin-HlSvSpoc5RARGZ_border-right-color: #dddddd;
  --mixin-HlSvSpoc5RARGZ_border-right-style: solid;
  --mixin-HlSvSpoc5RARGZ_border-right-width: 1px;
  --mixin-HlSvSpoc5RARGZ_border-top-color: #dddddd;
  --mixin-HlSvSpoc5RARGZ_border-top-style: solid;
  --mixin-HlSvSpoc5RARGZ_border-top-width: 1px;
  --mixin-HlSvSpoc5RARGZ_border-bottom-left-radius: 3px;
  --mixin-HlSvSpoc5RARGZ_border-bottom-right-radius: 3px;
  --mixin-HlSvSpoc5RARGZ_border-top-left-radius: 3px;
  --mixin-HlSvSpoc5RARGZ_border-top-right-radius: 3px;
  --mixin-HlSvSpoc5RARGZ_font-family: "Inconsolata";
  --mixin-HlSvSpoc5RARGZ_padding-bottom: 1px;
  --mixin-HlSvSpoc5RARGZ_padding-left: 4px;
  --mixin-HlSvSpoc5RARGZ_padding-right: 4px;
  --mixin-HlSvSpoc5RARGZ_padding-top: 1px;
  --mixin-Fvl1sX6d9noKSq_font-family: "Inter";
  --mixin-Fvl1sX6d9noKSq_color: #000000;
  --mixin-Fvl1sX6d9noKSq_font-size: 20px;
  --mixin-Fvl1sX6d9noKSq_font-weight: 600;
  --mixin-Fvl1sX6d9noKSq_letter-spacing: -0.3px;
  --mixin-Fvl1sX6d9noKSq_line-height: 1.5;
  --mixin-T45eWmZpBKNG_j_font-family: "Inter";
  --mixin-T45eWmZpBKNG_j_color: #000000;
  --mixin-T45eWmZpBKNG_j_font-size: 16px;
  --mixin-T45eWmZpBKNG_j_font-weight: 600;
  --mixin-T45eWmZpBKNG_j_line-height: 1.5;
  --mixin-DRQzo6GcBX82A9_border-left-color: #dddddd;
  --mixin-DRQzo6GcBX82A9_border-left-style: solid;
  --mixin-DRQzo6GcBX82A9_border-left-width: 3px;
  --mixin-DRQzo6GcBX82A9_color: #888888;
  --mixin-DRQzo6GcBX82A9_padding-left: 10px;
  --mixin-Bq8kYhg1aVua5e_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Bq8kYhg1aVua5e_border-bottom-color: #dddddd;
  --mixin-Bq8kYhg1aVua5e_border-bottom-style: solid;
  --mixin-Bq8kYhg1aVua5e_border-bottom-width: 1px;
  --mixin-Bq8kYhg1aVua5e_border-left-color: #dddddd;
  --mixin-Bq8kYhg1aVua5e_border-left-style: solid;
  --mixin-Bq8kYhg1aVua5e_border-left-width: 1px;
  --mixin-Bq8kYhg1aVua5e_border-right-color: #dddddd;
  --mixin-Bq8kYhg1aVua5e_border-right-style: solid;
  --mixin-Bq8kYhg1aVua5e_border-right-width: 1px;
  --mixin-Bq8kYhg1aVua5e_border-top-color: #dddddd;
  --mixin-Bq8kYhg1aVua5e_border-top-style: solid;
  --mixin-Bq8kYhg1aVua5e_border-top-width: 1px;
  --mixin-Bq8kYhg1aVua5e_border-bottom-left-radius: 3px;
  --mixin-Bq8kYhg1aVua5e_border-bottom-right-radius: 3px;
  --mixin-Bq8kYhg1aVua5e_border-top-left-radius: 3px;
  --mixin-Bq8kYhg1aVua5e_border-top-right-radius: 3px;
  --mixin-Bq8kYhg1aVua5e_font-family: "Inconsolata";
  --mixin-Bq8kYhg1aVua5e_padding-bottom: 3px;
  --mixin-Bq8kYhg1aVua5e_padding-left: 6px;
  --mixin-Bq8kYhg1aVua5e_padding-right: 6px;
  --mixin-Bq8kYhg1aVua5e_padding-top: 3px;
  --mixin-lBA9onMvcaTEFu_display: flex;
  --mixin-lBA9onMvcaTEFu_flex-direction: column;
  --mixin-lBA9onMvcaTEFu_align-items: stretch;
  --mixin-lBA9onMvcaTEFu_justify-content: flex-start;
  --mixin-lBA9onMvcaTEFu_list-style-position: outside;
  --mixin-lBA9onMvcaTEFu_padding-left: 40px;
  --mixin-lBA9onMvcaTEFu_position: relative;
  --mixin-lBA9onMvcaTEFu_list-style-type: decimal;
  --mixin-dxIDZrmXCcqOW3_display: flex;
  --mixin-dxIDZrmXCcqOW3_flex-direction: column;
  --mixin-dxIDZrmXCcqOW3_align-items: stretch;
  --mixin-dxIDZrmXCcqOW3_justify-content: flex-start;
  --mixin-dxIDZrmXCcqOW3_list-style-position: outside;
  --mixin-dxIDZrmXCcqOW3_padding-left: 40px;
  --mixin-dxIDZrmXCcqOW3_position: relative;
  --mixin-dxIDZrmXCcqOW3_list-style-type: disc;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-3AXLuDWnjmuvkh_font-family);
  font-size: var(--mixin-3AXLuDWnjmuvkh_font-size);
  font-weight: var(--mixin-3AXLuDWnjmuvkh_font-weight);
  font-style: var(--mixin-3AXLuDWnjmuvkh_font-style);
  color: var(--mixin-3AXLuDWnjmuvkh_color);
  text-align: var(--mixin-3AXLuDWnjmuvkh_text-align);
  text-transform: var(--mixin-3AXLuDWnjmuvkh_text-transform);
  line-height: var(--mixin-3AXLuDWnjmuvkh_line-height);
  letter-spacing: var(--mixin-3AXLuDWnjmuvkh_letter-spacing);
  white-space: var(--mixin-3AXLuDWnjmuvkh_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-leK7Qnmxlk0VBZ_color);
  font-weight: var(--mixin-leK7Qnmxlk0VBZ_font-weight);
  font-size: var(--mixin-leK7Qnmxlk0VBZ_font-size);
  line-height: var(--mixin-leK7Qnmxlk0VBZ_line-height);
  letter-spacing: var(--mixin-leK7Qnmxlk0VBZ_letter-spacing);
  font-family: var(--mixin-leK7Qnmxlk0VBZ_font-family);
  text-align: var(--mixin-leK7Qnmxlk0VBZ_text-align);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-XfxIZVN9vAo2Ud_color);
  font-weight: var(--mixin-XfxIZVN9vAo2Ud_font-weight);
  font-size: var(--mixin-XfxIZVN9vAo2Ud_font-size);
  line-height: var(--mixin-XfxIZVN9vAo2Ud_line-height);
  letter-spacing: var(--mixin-XfxIZVN9vAo2Ud_letter-spacing);
  font-family: var(--mixin-XfxIZVN9vAo2Ud_font-family);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-dcN3Bbc0YsS7fY_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-cWrxyfjaNwVt2x_color);
  font-weight: var(--mixin-cWrxyfjaNwVt2x_font-weight);
  font-size: var(--mixin-cWrxyfjaNwVt2x_font-size);
  line-height: var(--mixin-cWrxyfjaNwVt2x_line-height);
  letter-spacing: var(--mixin-cWrxyfjaNwVt2x_letter-spacing);
  font-family: var(--mixin-cWrxyfjaNwVt2x_font-family);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-5QmswN4Rwe1Fbx_color);
  font-weight: var(--mixin-5QmswN4Rwe1Fbx_font-weight);
  font-size: var(--mixin-5QmswN4Rwe1Fbx_font-size);
  line-height: var(--mixin-5QmswN4Rwe1Fbx_line-height);
  letter-spacing: var(--mixin-5QmswN4Rwe1Fbx_letter-spacing);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-HlSvSpoc5RARGZ_background);
  font-family: var(--mixin-HlSvSpoc5RARGZ_font-family);
  border-radius: var(--mixin-HlSvSpoc5RARGZ_border-top-left-radius)
    var(--mixin-HlSvSpoc5RARGZ_border-top-right-radius)
    var(--mixin-HlSvSpoc5RARGZ_border-bottom-right-radius)
    var(--mixin-HlSvSpoc5RARGZ_border-bottom-left-radius);
  padding: var(--mixin-HlSvSpoc5RARGZ_padding-top)
    var(--mixin-HlSvSpoc5RARGZ_padding-right)
    var(--mixin-HlSvSpoc5RARGZ_padding-bottom)
    var(--mixin-HlSvSpoc5RARGZ_padding-left);
  border-top: var(--mixin-HlSvSpoc5RARGZ_border-top-width)
    var(--mixin-HlSvSpoc5RARGZ_border-top-style)
    var(--mixin-HlSvSpoc5RARGZ_border-top-color);
  border-right: var(--mixin-HlSvSpoc5RARGZ_border-right-width)
    var(--mixin-HlSvSpoc5RARGZ_border-right-style)
    var(--mixin-HlSvSpoc5RARGZ_border-right-color);
  border-bottom: var(--mixin-HlSvSpoc5RARGZ_border-bottom-width)
    var(--mixin-HlSvSpoc5RARGZ_border-bottom-style)
    var(--mixin-HlSvSpoc5RARGZ_border-bottom-color);
  border-left: var(--mixin-HlSvSpoc5RARGZ_border-left-width)
    var(--mixin-HlSvSpoc5RARGZ_border-left-style)
    var(--mixin-HlSvSpoc5RARGZ_border-left-color);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-Fvl1sX6d9noKSq_font-family);
  color: var(--mixin-Fvl1sX6d9noKSq_color);
  font-size: var(--mixin-Fvl1sX6d9noKSq_font-size);
  font-weight: var(--mixin-Fvl1sX6d9noKSq_font-weight);
  letter-spacing: var(--mixin-Fvl1sX6d9noKSq_letter-spacing);
  line-height: var(--mixin-Fvl1sX6d9noKSq_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-T45eWmZpBKNG_j_font-family);
  color: var(--mixin-T45eWmZpBKNG_j_color);
  font-size: var(--mixin-T45eWmZpBKNG_j_font-size);
  font-weight: var(--mixin-T45eWmZpBKNG_j_font-weight);
  line-height: var(--mixin-T45eWmZpBKNG_j_line-height);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-DRQzo6GcBX82A9_color);
  padding-left: var(--mixin-DRQzo6GcBX82A9_padding-left);
  border-left: var(--mixin-DRQzo6GcBX82A9_border-left-width)
    var(--mixin-DRQzo6GcBX82A9_border-left-style)
    var(--mixin-DRQzo6GcBX82A9_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-Bq8kYhg1aVua5e_background);
  font-family: var(--mixin-Bq8kYhg1aVua5e_font-family);
  border-radius: var(--mixin-Bq8kYhg1aVua5e_border-top-left-radius)
    var(--mixin-Bq8kYhg1aVua5e_border-top-right-radius)
    var(--mixin-Bq8kYhg1aVua5e_border-bottom-right-radius)
    var(--mixin-Bq8kYhg1aVua5e_border-bottom-left-radius);
  padding: var(--mixin-Bq8kYhg1aVua5e_padding-top)
    var(--mixin-Bq8kYhg1aVua5e_padding-right)
    var(--mixin-Bq8kYhg1aVua5e_padding-bottom)
    var(--mixin-Bq8kYhg1aVua5e_padding-left);
  border-top: var(--mixin-Bq8kYhg1aVua5e_border-top-width)
    var(--mixin-Bq8kYhg1aVua5e_border-top-style)
    var(--mixin-Bq8kYhg1aVua5e_border-top-color);
  border-right: var(--mixin-Bq8kYhg1aVua5e_border-right-width)
    var(--mixin-Bq8kYhg1aVua5e_border-right-style)
    var(--mixin-Bq8kYhg1aVua5e_border-right-color);
  border-bottom: var(--mixin-Bq8kYhg1aVua5e_border-bottom-width)
    var(--mixin-Bq8kYhg1aVua5e_border-bottom-style)
    var(--mixin-Bq8kYhg1aVua5e_border-bottom-color);
  border-left: var(--mixin-Bq8kYhg1aVua5e_border-left-width)
    var(--mixin-Bq8kYhg1aVua5e_border-left-style)
    var(--mixin-Bq8kYhg1aVua5e_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-lBA9onMvcaTEFu_display);
  flex-direction: var(--mixin-lBA9onMvcaTEFu_flex-direction);
  align-items: var(--mixin-lBA9onMvcaTEFu_align-items);
  justify-content: var(--mixin-lBA9onMvcaTEFu_justify-content);
  list-style-position: var(--mixin-lBA9onMvcaTEFu_list-style-position);
  padding-left: var(--mixin-lBA9onMvcaTEFu_padding-left);
  position: var(--mixin-lBA9onMvcaTEFu_position);
  list-style-type: var(--mixin-lBA9onMvcaTEFu_list-style-type);
  flex-column-gap: var(--mixin-lBA9onMvcaTEFu_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-dxIDZrmXCcqOW3_display);
  flex-direction: var(--mixin-dxIDZrmXCcqOW3_flex-direction);
  align-items: var(--mixin-dxIDZrmXCcqOW3_align-items);
  justify-content: var(--mixin-dxIDZrmXCcqOW3_justify-content);
  list-style-position: var(--mixin-dxIDZrmXCcqOW3_list-style-position);
  padding-left: var(--mixin-dxIDZrmXCcqOW3_padding-left);
  position: var(--mixin-dxIDZrmXCcqOW3_position);
  list-style-type: var(--mixin-dxIDZrmXCcqOW3_list-style-type);
  flex-column-gap: var(--mixin-dxIDZrmXCcqOW3_flex-column-gap);
}
